.lake/
blueprint/web/
blueprint/print/
blueprint/src/*.aux
blueprint/src/*.fdb_latexmk
blueprint/src/*.fls
blueprint/src/*.log
blueprint/src/*.out
blueprint/src/*.toc
blueprint/src/*.synctex.gz
.DS_Store
DEPENDENCY_GRAPH.png
DEPENDENCY_GRAPH.svg
Langlands_First_Main_Lemma_Lean_Blueprint.pdf
references/epsilon_FML.pdf
verification/
checked-source.tar.gz
blueprint/lean_decls
references/*.aux
references/*.log
references/*.out
references/*.toc
references/*.fls
references/*.fdb_latexmk
references/*.synctex.gz
